<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}CS 360 Forum{% endblock %}
		{% if app.debug %}
		 - DEV SITE
		{% endif %}
	</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
	{% endblock %}
	{% block javascript_includes %}
		<script type="text/javascript" href="{{ asset('js/jquery-1.7.2.min.js') }}"></script>
	{% endblock %}
	<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div id="site_header">
{% block header %}
	{% if app.user != NULL %}
		{{ app.user.displayname }} (<a href="{{ path('logout') }}">Log Out</a>)
	{% else %}
		Guest (<a href="{{ path('login') }}">Log In</a>)
	{% endif %}
{% endblock %}
</div>

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}

{% if app.debug %}
<hr />
<div class="debug">
	<p>Request method: {{ app.request.method }}</p>
</div>
{% endif %}
</body>
</html>
