<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}CS 360 Forum{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
	{% endblock %}
	{% block javascript_includes %}
		<script type="text/javascript" href="{{ asset('js/jquery-1.7.2.min.js') }}"></script>
	{% endblock %}
	<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}

{% if app.debug %}
<div class="debug">
	<p>Request method: {{ app.request.method }}</p>
	<p>Environment: {{ app.environment }}</p>
</div>
{% endif %}
</body>
</html>
